.alert-danger{
    background-color: #fcf6fb !important;
    border-color: #552849;
    color: #202428;

}

.alert-success{
    background-color: #fcf6fb !important;
    border-color: #24c284;
    color: #202428;

}

.alert-info{
    background-color: #fcf6fb !important;
    border-color: #552849;
    color: #202428;
}