/* Challenge styles
-------------------------------------------------- */


.challenge-desc {
  overflow-wrap: anywhere;

  img {
    max-width: 100%;
  }
}

.challenge-button{
  color: #fcf6fb;
  text-align: start !important;
  border: #e0d71e !important;
  border-style: solid !important;
  border-width: 0 0 0 5px !important;
  background-color: #202428;
  
}

.challenge-solved{
  opacity: 0.6 !important;
  border: #24c284 !important;
  border-style: solid !important;
  border-width: 0 0 0 5px !important;
  
}

.challenge-button>div>span.status {
  background-color: var(--bs-warning) !important;
  color: var(--bs-white);
}

.challenge-button>div>span.status:after {
  content:"INCOMPLETED";
  color: var(--bs-gray-dark);
}

.challenge-solved>div>span.status {
  background-color: var(--bs-success) !important;
}
.challenge-solved>div>span.status:after {
  content:"COMPLETED"!important;
  color: var(--bs-gray-dark);
}


